.row.mtl
  .col-md-12
    %span.h4= link_to topic.title, topic
    - if topic.user == current_user
      = link_to topic, class: 'btn btn-danger btn-xs pull-right', method: :delete, data: { confirm: 'Are you sure you want to delete this topic?'} do
        %span.glyphicon.glyphicon-remove
  = render topic.bookmarks
%hr