- if policy(Like.new).create?
  - if like = current_user.liked(bookmark)
    = link_to [bookmark.topic, bookmark, like], class: 'btn btn-danger btn-xs', method: :delete do
      %i.glyphicon.glyphicon-star-empty
      &nbsp; Unlike
  - else
    = link_to [bookmark.topic, bookmark, like = Like.new], class: 'btn btn-primary btn-xs', method: :post do
      %i.glyphicon.glyphicon-star
      &nbsp; Like