.jumbotron
  %h1 Blocmarks
  %p Keep your bookmarks oragnized in one place
  %p
    = link_to "Log In", new_user_session_path, class: 'btn btn-primary'
    or
    = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'
    today!
.row
  .col-md-4
    %h2 Works anywhere
    %p Bookmark URLs via email

  .col-md-4
    %h2 Get inspired
    %p Peruse other user's bookmarks

  .col-md-4
    %h2 Organize your life
    %p Maintain a personal index of categorized bookmarks